:root {
--c-white: rgba(255, 255, 255, 1);
--c-yell: rgba(240, 213, 138, 1);
--c-0-yell: rgba(240, 213, 138, 0);
--c-08-yell: rgba(240, 213, 138, 0.8);
--c-09-yell: rgba(240, 213, 138, 0.9);
--c-red: rgba(243, 129, 129, 1);
--c-red-light: rgba(234, 132, 130, 1);
--c-0-red-light: rgba(234, 132, 130, 0);
--c-08-red-light: rgba(234, 132, 130, 0.8);
--c-09-red-light: rgba(234, 132, 130, 0.9);
--c-green-light: rgba(149, 225, 211, 1);
--c-0-green-light: rgba(149, 225, 211, 0);
--c-gray-light: rgba(153, 153, 153, 1);
--c-08-gray-light: rgba(153, 153, 153, 0.6);
--c-gray-dark: rgba(51, 51, 51, 1);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.services__lead {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    padding: 55px 0 22px 0;
}

.services__text {
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}