* {
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* fonts and colors */

.navigation a, .lead, .name-service, .name, .footer p, .subscribe-button {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-family: 'Kaushan Script', cursive;
}

.text-service, .about-team, .profession, .input {
    font-family: 'Roboto', sans-serif;
}

/* blue */
.navigation a {
    color: rgba(149, 225, 211, 1);
}

/* red */
.footer span {
    color: rgba(243, 129, 129, 1);
}

/* gray */
.text-service, .about-team, .profession {
    color: rgba(153, 153, 153, 255);
}

/* black */
.title, .lead, .name-service, .name, .footer {
    color: rgba(51, 51, 51, 255);
}

/* white */
.subscribe-button {
    color: rgba(255, 255, 255, 255);
}

/* Header */

.navigation {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 28px 0 127px 0;
}

.navigation a {
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.logo::first-letter, .logo span {
    text-transform: uppercase;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-basis: 490px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu a {
    border-bottom: 3px solid rgba(243, 129, 129, 0);
    padding-bottom: 12px;
    transition-property: border-bottom;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.menu-item:hover a{
    border-bottom: 3px solid rgba(243, 129, 129, 1);
}
/* Service */

.main-section {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 82px;
}

.title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 22px;
}

.lead {
    position: relative;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 111px;
}

.lead::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: rgba(243, 129, 129, 1);
}

.box-service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 1200px;
    list-style: none;
    padding-bottom: 138px;
}

.item-service {
    position: relative;
    width: 329px;
}

.item-service:nth-child(-n+3) {
    margin-bottom: 101px;
}

.about-service {
    padding-left: 59px;
    background-repeat: no-repeat;
}

.about-service::before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: '';
}

.photography {
    background-image: url(../img/icon/clock.png);
}

.web {
    background-image: url(../img/icon/praph.png);
}

.creativity {
    background-image: url(../img/icon/pc.png);
}

.seo {
    background-image: url(../img/icon/boock.png);
}

.css {
    background-image: url(../img/icon/home.png);
}

.digital {
    background-image: url(../img/icon/pict.png);
}

.name-service {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.text-service {
    font-size: 15px;
    line-height: 24px;
}

/* Team */

.about-team {
    line-height: 24px;
    width: 941px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 92px;
}

.box-team {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.item-team {
    width: 383px;
    font-size: 0;
}

.name {
    font-size: 14px;
    text-transform: uppercase;
    padding: 31px 0 15px 0;
    text-align: center;
}

.profession {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.photo-team {
    position: relative;
    transition-property: rtansform, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: linear;
    box-shadow: 12px 12px 0 rgba(149, 225, 211, 0);
}

.photo-team:hover {
    transform: translate(-12px, -12px);
    box-shadow: 12px 12px 0 rgba(149, 225, 211, 1)

}

.gradient-team {
    position: absolute;
    top: 0;
    left: 0;
    width: 383px;
    height: 473px;
    background-image: linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9));
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.gradient-team:hover {
    opacity: 1;
}

.box-social {
    display: flex;
    justify-content: space-between;
    width: 227px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    list-style: none;
}

.item-social a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: rgba(252, 227, 138, 0.8);
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.item-social a:hover{
    background-color: rgba(149, 225, 211, 1);
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    font-size: 14px;
    padding: 24px 0;
    margin: 0 auto;
    border-top: 1px solid rgba(153, 153, 153, 255);
}

.form-subscribe {
    font-size: 0;
}

.subscribe-button {
    border: none;
    width: 150px;
    height: 40px;
    background-color: rgba(149, 225, 211, 1);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.input {
    width: 217px;
    height: 38px;
    border: 1px solid rgba(231, 231, 231, 1);
    font-size: 15px;
    font-style: italic;
    color: rgba(231, 231, 231, 1);
    padding-left: 13px;
}