/* allura-regular - latin */
@font-face {
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    src: local('Allura Regular'), local('Allura-Regular'),
         url('../fonts/allura-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/allura-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* yantramanav-regular - latin */
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: local('Yantramanav Regular'), local('Yantramanav-Regular'),
       url('../fonts/yantramanav-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/yantramanav-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* yantramanav-500 - latin */
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 500;
  src: local('Yantramanav Medium'), local('Yantramanav-Medium'),
       url('../fonts/yantramanav-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/yantramanav-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* yantramanav-700 - latin */
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 700;
  src: local('Yantramanav Bold'), local('Yantramanav-Bold'),
       url('../fonts/yantramanav-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/yantramanav-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bai-jamjuree-600 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    src: local('Bai Jamjuree SemiBold'), local('BaiJamjuree-SemiBold'),
         url('../fonts/bai-jamjuree-v1-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/bai-jamjuree-v1-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v18-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* cormorant-regular - latin */
@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    src: local('Cormorant Regular'), local('Cormorant-Regular'),
         url('../fonts/cormorant-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cormorant-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* cormorant-italic - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 400;
  src: local('Cormorant Italic'), local('Cormorant-Italic'),
       url('../fonts/cormorant-v6-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cormorant-v6-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

  /* alegreya-sans-sc-500 - latin */
@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'),
         url('../fonts/alegreya-sans-sc-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/alegreya-sans-sc-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

