* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: 'Montserrat';
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Fonts and Colors */

.text-screen,
.about-partner {
    font-family: 'Roboto';
}

/* red */
.see-partners-button {
    color: rgba(255, 78, 80, 255);
}

/* black */
.lead-box-partner {
    color: rgba(51, 51, 51, 255);
    padding-bottom: 14px;
}

/* gray */
.about-partner {
    color: rgba(102, 102, 102, 255);
}

/* white */

.text-box-screen {
    color: rgba(255, 255, 255, 1); 
}

/* Header  */

.head-section {
    height: 542px;
    padding-bottom: 68px;
}

.wrapper-header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 171px;
    padding-top: 33px;
    position: relative;
    z-index: 2;
}

.logo {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
}

.logo a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.box-log-in {
    display: flex;
    justify-content: center;
    list-style: none;
}

.authorization,
.registration {
    color: rgba(255, 255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    width: 90px;
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
}

.authorization:hover,
.registration:hover {
    border: 2px solid rgba(255, 255, 255, 255);
}

/* Screen */

.box-screen {
    height: 542px;
    width: 100%;
    position: absolute;
    top: 0;
}

.image-screen {
    background-image: url(../img/cover/main-cover.png);
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-box-screen {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 173px;
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.lead-screen {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 600;
}

.text-screen {
    width: 217px;
    font-size: 18px;
    font-weight: 300;
}

.button-find-partner,
.see-partners-button {
    width: 280px;
    height: 40px;
    border: 2px solid rgba(255, 78, 80, 255);
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 78, 80, 1);
}

.see-partners-button:hover,
.button-find-partner:hover {
    background-color: rgba(255, 78, 80, 255);
    color: rgba(255, 255, 255, 1);
}

/* Partner */

.wrapper-partner {
    text-align: center;
    padding-bottom: 55px;
} 

.lead-box-partner {
    font-size: 22px;
    width: 278px;
    margin: 0 auto;
    text-align: center;
}

.box-partner {
    list-style: none;
    width: 194px;
    padding-bottom: 29px;
    margin: 0 auto;
}

.photo-partner {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    overflow: hidden;
}

.item-partner {
    text-align: center;
}

.item-partner:not(:last-child) {
    margin-bottom: 26px;
}

.box-photo-partner {
    position: relative;
    width: 122px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.icon {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tv {
    background-image: url(../img/icon/tv.png);
    background-color: rgba(255, 78, 80, 1);
}

.colbe {
    background-image: url(../img/icon/colbe.png);
    background-color: rgba(255, 165, 7, 1);
}

.cup {
    background-image: url(../img/icon/cup.png);
    background-color: rgba(28, 215, 173, 1);
}

.fly {
    background-image: url(../img/icon/fly.png);
    background-color: rgba(78, 115, 219, 1);
}

.name-partner {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 16px;
}

.about-partner {
    font-size: 14px;
    font-weight: 300;
}

/*--- MEDIA ---*/
 
@media (min-width: 700px) {
    .head-section {
        padding-bottom: 72px;
    }

    .wrapper-header {
        width: 669px;
        flex-direction: row;
        height: auto;
        padding-top: 38px;
        margin: 0 auto;
    }

    .text-box-screen {
        top: 170px;
        height: 240px;
    }

    .text-screen {
        width: auto;
    }

    .lead-box-partner {
        width: auto;
        padding-bottom: 31px;
    }

    .box-partner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 458px;
        height: 493px;
        padding-bottom: 39px;
    }

    .item-partner {
        width: 194px;
    }

    .item-partner:nth-last-child(2) {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .wrapper-header {
        width: 939px;
        padding-top: 20px;
    }

    .box-partner {
        padding-top: 33px;
        width: 914px;
        height: auto;
    }

}