* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif ;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Fonts and Colors */

.text-screen,
.about-partner {
    font-family: 'Roboto', sans-serif;
}

/* red */
.see-partners-button,
.find-partner-button {
    color: rgba(255, 78, 80, 255);
}

/* black */
.lead-list-partner {
    color: rgba(51, 51, 51, 255);    
}

/* gray */
.about-partner {
    color: rgba(102, 102, 102, 255);
}

/* white */
.text-box-screen,
.logo a,
.text-box-slide,
.authorization,
.registration,
.see-partners-button:hover,
.find-partner-button:hover  {
    color: rgba(255, 255, 255, 1); 
}

/* Header  */

.wrapper-slide {
    height: 542px;
    background-image: url(../img/cover/main-cover.png);
    background-color: rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 171px;
    padding: 21px 0 38px 0;
    margin: auto;
}

.logo {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
}

.logo a {
    text-decoration: none;
}

.box-log-in {
    display: flex;
    justify-content: center;
    list-style: none;
}

.authorization,
.registration {
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    width: 90px;
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
}

.authorization:hover,
.registration:hover {
    border: 2px solid rgba(255, 255, 255, 255);
}

/* Slide */

.text-box-slide {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 173px;
    text-align: center;
}

.lead-slide {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}

.text-slide {
    width: 217px;
    font-size: 18px;
    font-weight: 300;
}

.find-partner-button,
.see-partners-button {
    width: 280px;
    height: 40px;
    border: 2px solid rgba(255, 78, 80, 255);
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
}

.see-partners-button:hover,
.find-partner-button:hover {
    background-color: rgba(255, 78, 80, 255);
}

/* Partner */

.wrapper-partner {
    text-align: center;
    padding: 68px 0 55px 0;
} 

.lead-list-partner {
    font-size: 22px;
    padding-bottom: 14px;
}

.list-partner {
    list-style: none;
    width: 194px;
    padding-bottom: 29px;
    margin: 0 auto;
}

.photo-partner {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    overflow: hidden;
}

.item-partner {
    text-align: center;
    width: 201px;
    margin-bottom: 26px;
}

.item-partner:last-child {
    margin-bottom: 0px;    
}

.box-photo-partner {
    position: relative;
    width: 122px;
    padding-bottom: 20px;
    margin: auto;
}

.icon {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tv {
    background-image: url(../img/icon/tv.png);
    background-color: rgba(255, 78, 80, 1);
}

.colbe {
    background-image: url(../img/icon/colbe.png);
    background-color: rgba(255, 165, 7, 1);
}

.cup {
    background-image: url(../img/icon/cup.png);
    background-color: rgba(28, 215, 173, 1);
}

.fly {
    background-image: url(../img/icon/fly.png);
    background-color: rgba(78, 115, 219, 1);
}

.name-partner {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 16px;
}

.about-partner {
    font-size: 14px;
    font-weight: 300;
}

/*--- MEDIA ---*/
 
@media (min-width: 700px) {
    .wrapper-slide {
        height: 700px;
    }

    .header {
        padding: 38px 0 152px 0;
        flex-direction: row;
        height: auto;
        width: 669px;
    }

    .text-box-slide {
        height: 240px;
    }

    .lead-slide {
        font-size: 52px;
    }

    .text-slide {
        font-size: 24px;
        width: auto;
    }

    .wrapper-partner {
        padding: 72px 0 41px 0;
    }

    .lead-list-partner {
        padding-bottom: 31px;
    }

    .list-partner {
        width: 458px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 39px;
    }

    .item-partner:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .header {
        width: 939px; 
    }

    .list-partner {
        width: 914px;
    }

    .item-partner:nth-last-child(-n+4) {
        margin-bottom: 0;
    }

}