* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif ;
    background-color: pink;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

.wrapper-all {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

.logo-image {
    position: absolute;
    top: 0;
    

}

.header {
    width: 400px;
}

.navigation {
    width: 350px;
    text-align: center;
    padding-left: 30px;
    position: fixed;
    left: 40px;
    top: 170px;
}

.lead-menu {
    font-family: 'Amatic SC';
    font-size: 40px;
    padding-bottom: 20px;
}

.image-header {
    background-image: url(../img/cover/sky.jpg);
    background-color: #56cad6;
    height: 169px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

.menu {
    list-style: none;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon {
    border-radius: 35%;
    overflow: hidden;
    padding-bottom: 5px;
    /* filter: grayscale(100%); */
}

/* .menu-item:hover .icon {
    filter: none;
} */

.menu-item:hover {
    color: #ffffff;
    font-weight: 400;
}

.menu-item:hover .name-menu {
    background-color: #149add;
    color: #ffffff;
}

.menu-item:visited {
    color: black;
    font-weight: 600;
    background-color: rgb(4, 233, 42);
}




.menu-item {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    text-align: center;
    margin: 0 15px 15px 0;
    font-size: 16px;
    font-weight: 200;
}

.menu-item a {
    text-decoration: none;
    color: #149add;
}


/* Cards */

.main-content {
    width: 750px;
}

.wrapper-content {
    width: 750px;
}

.list-cat {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 50px;
    
}

.card-cat {
    width: 750px;
    height: 660px;
    border-left: 3px dashed #2892a4;
    margin-bottom: 50px;
 }

.card-cat:last-child {
    margin-bottom: 0;
}

.name-cat {
    padding: 20px 0 20px 0;
    font-size: 22px;
    color: #1c1e1f;
    text-align: center;
    font-weight: 200;
}

.skills-and-about {
    width: 700px;
    display: flex;
    margin: 0 auto;
}

.skills-list {
    list-style: none;
    width: 310px;
}

.skills-line {
    width: 270px;
    display: flex;
    padding-bottom: 10px;
    padding-right: 25px;
    
}

.skills-line:last-child {
    padding-bottom: 0;
}

.skills-name {
    width: 140px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 200;
    color: #1c1e1f;
}

.star-box {
    list-style: none;
    width: 125px;
    display: flex;
    margin-right: 5px;
}

.star-box:last-child {
    margin-right: 0;
}

.one-star {
    width: 25px;
    height: 25px;
}

.yes, .white {
    background-color: #56cad6;
}

.one-star-img {
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    background-size: cover;
}

.gray  {
    background-image: url(../img/icon/star-gray.png);
}

.white {
    background-image: url(../img/icon/star-white.png)
}

.about-cat {
    width: 500px;
    font-size: 14px;
    color: #242626;
    line-height: 22px;
}

.box-bith-day {
    width: 270px;
    padding-bottom: 20px;
}

.box-price {
    width: 270px;
    height: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.name-price {
    width: 83px;
    background-color: #2892a4;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-left: 7px;
}

.price {
    width: 90px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.video {
    /* background-image: url(../img/animations/cat-one.gif);
    background-repeat: no-repeat;
    background-position: center; */
    background-size: cover;
    height: 300px;
    width: 500px;
    background-color: darkgray;
    margin: auto;
}

/* footer */


/* .footer {
   background-color: #2892a4;
   height: 80px;
} */

